/*
THE FOLLOWING CODE IS FOR THE MODAL IMAGES
  */
  input[type='checkbox']{
    display:none;
  }
  

  #cnt {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #282828;
    top: 0;
    left: 0;
    display:flex;
    align-items:center;
    justify-content: center;
    pointer-events:none;
    display:none;
  }
  
  .close {
    color:#fff;
    position: fixed;
    top: 20px;
    right: 20px;
    display:none;
    cursor:pointer;
  }
  
  input:checked + div + #cnt {
    display:flex;
  }
  
  input:checked + div + #cnt + .close {
    display:block;
  }

  #btn {
    cursor: pointer;
    transition: 0.2s;
    margin: 10px;
    border-radius: 10px;
  }

  #btn:hover {
    background-color: #A9A9A9;
    opacity: 0.7;
  }
