@import 'https://fonts.googleapis.com/css?family=JetBrains+Mono';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	margin-top: 10%;
}

body {
	font-family: 'JetBrains Mono', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #282828;
	color: #eee;
	text-align: center;
	animation-name: fadeInBackground;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}

@keyframes fadeInBackground {
from {
  background-color: #181818;
}
to {
  background-color: #282828; 
}
}

img {
	max-width: 100%;
	opacity: 0.6;
}

 button {
	font-family: 'JetBrains Mono', sans-serif;
    background-color: #282828;
    border: #d8d8d8;/*what? I have no idea why I did this, but ok, it works...*/
    border-radius: 40px;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    padding: 20px 20px;
    height: 222px;
	width: 222px;
	background: rgba(1, 1, 1, 0)
  }


  @keyframes ecolo {
	0% {
		transform: scale(0.3); opacity: 0.4;
	  }
	100% {
		transform: scale(1) /*translate(-50%, -50%)*/; opacity: 1;
	  }
    }

  #btn { /*maybe not necessary*/
    z-index: 5;
    margin: 0 10px;
    cursor: pointer;
	transition: 0.2s;
	animation-name: ecolo;
/*	animation-duration: 0.5s;*/
	animation-fill-mode: forwards;
  }

  #btn img {
    transition: 0.2s;
	
  }

  #btn img:hover {
    opacity: 1;
    transform: scale(1.09);
  }

  #btn:hover {
	opacity: 0.8;
	transform: scale(1.05);
	color: #eee;
  }

  h1 {
	font-size: 44px;
	line-height: 34px;
	animation-name: fadeInText;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeInText {
    from {
      color: #181818;
    }
    to {
      color: #eee; 
    }

}

p {
	font-size: 16px;
	color: #999;
	animation-name: fadeInText;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

h3 {
	font-size: 16px;
}

h3:hover {
	color: #fff;
}

a {
	font-size: 10px;
	text-decoration: none;
	color: #555;
	transition: 0.4s;
}

a[href]:hover {
	color: #fff;
}

hr {
	opacity: 0;
	padding-bottom: 20px;
}

footer {
	margin-top: 15%;
}
